<div class="service service-summary">
  {{ if .Params.image }}
  <div class="service-image">
    <img width="360" height="360" alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
  </div>
  {{ end }}
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Params.link }}">{{ .Title }}</a>
    </h2>
    {{range .Params.links }}
        <a href="{{ .value | urlize }}">{{ .name }} | </a> 
    {{end}}
    <p>{{ .Content | plainify | htmlUnescape | truncate 240 "..." }}</p>
  </div>
</div>
